.list-inline {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  height: 250px;
}


.list-inline li {
  padding-left: 60px;
}
